In [1]:
import pandas as pd

In [2]:
# only to be used by those who are getting SSL Error
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [3]:
df = pd.read_csv("https://query.data.world/s/evaqrt2zzlif7stoa53otaysb6ybwk")
df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,kzwfHumJyYc,17.14.11,Sharry Mann: Cute Munda ( Song Teaser) | Parmi...,Lokdhun Punjabi,1,2017-11-12T12:20:39.000Z,"sharry mann|""sharry mann new song""|""sharry man...",1096327,33966,798,882,https://i.ytimg.com/vi/kzwfHumJyYc/default.jpg,False,False,False,Presenting Sharry Mann latest Punjabi Song Cu...
1,10L1hZ9qa58,17.14.11,Stylish Star Allu Arjun @ ChaySam Wedding Rece...,TFPC,24,2017-11-12T15:48:08.000Z,Stylish Star Allu Arjun @ ChaySam Wedding Rece...,473988,2011,243,149,https://i.ytimg.com/vi/10L1hZ9qa58/default.jpg,False,False,False,Watch Stylish Star Allu Arjun @ ChaySam Weddin...
2,N1vE8iiEg64,17.14.11,Eruma Saani | Tamil vs English,Eruma Saani,23,2017-11-12T07:08:48.000Z,"Eruma Saani|""Tamil Comedy Videos""|""Films""|""Mov...",1242680,70353,1624,2684,https://i.ytimg.com/vi/N1vE8iiEg64/default.jpg,False,False,False,This video showcases the difference between pe...
3,kJzGH0PVQHQ,17.14.11,why Samantha became EMOTIONAL @ Samantha naga ...,Filmylooks,24,2017-11-13T01:14:16.000Z,"Filmylooks|""latest news""|""telugu movies""|""telu...",464015,492,293,66,https://i.ytimg.com/vi/kJzGH0PVQHQ/default.jpg,False,False,False,why Samantha became EMOTIONAL @ Samantha naga ...
4,il_pSa5l98w,17.14.11,"MCA (Middle Class Abbayi) TEASER - Nani,Sai Pa...",Dil Raju,24,2017-11-10T04:29:50.000Z,"Nenu Local|""Nenu Local Telugu Movie""|""Nani""|""S...",6106669,98612,4185,4763,https://i.ytimg.com/vi/il_pSa5l98w/default.jpg,False,False,False,Watch MCA- Middle Class Abbayi First Look Teas...

## EDA

- Data Understanding:
    - Understand the data by getting in touch with the data provider.
- Data Preparation:
    - Check if the data is having all correct data type.
    - Check for duplicates
    - If duplicates, drop them
- Data Analysis:
    - Define the problem statement
    - Make our analysis

**Identify the columns that have been loaded with incorrect Data Type**

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37351 entries, 0 to 37350
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                37351 non-null  object
 1   trending_date           37351 non-null  object
 2   title                   37351 non-null  object
 3   channel_title           37351 non-null  object
 4   category_id             37351 non-null  int64
 5   publish_time            37351 non-null  object
 6   tags                    37351 non-null  object
 7   views                   37351 non-null  int64
 8   likes                   37351 non-null  int64
 9   dislikes                37351 non-null  int64
 10  comment_count           37351 non-null  int64
 11  thumbnail_link          37351 non-null  object
 12  comments_disabled       37351 non-null  bool
 13  ratings_disabled        37351 non-null  bool
 14  video_error_or_removed  37351 non-null  bool
 15  description             36790 non-null  object
dtypes: bool(3), int64(5), object(8)
memory usage: 3.8+ MB

- trending_date
- publishe_date

pandas datetime64 format

**Correct the data type of trending_date and publish_time to pandas datetime format**

- pd.to_numeric(): This function converts a object columns(that should be loaded as int/float) as int/float
- pd.to_datetime(): Converts a object columns(that should be loaded as DataTime format) to DateTime Format
- https://strftime.org/

In [6]:
df.head(2)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,kzwfHumJyYc,17.14.11,Sharry Mann: Cute Munda ( Song Teaser) | Parmi...,Lokdhun Punjabi,1,2017-11-12T12:20:39.000Z,"sharry mann|""sharry mann new song""|""sharry man...",1096327,33966,798,882,https://i.ytimg.com/vi/kzwfHumJyYc/default.jpg,False,False,False,Presenting Sharry Mann latest Punjabi Song Cu...
1,10L1hZ9qa58,17.14.11,Stylish Star Allu Arjun @ ChaySam Wedding Rece...,TFPC,24,2017-11-12T15:48:08.000Z,Stylish Star Allu Arjun @ ChaySam Wedding Rece...,473988,2011,243,149,https://i.ytimg.com/vi/10L1hZ9qa58/default.jpg,False,False,False,Watch Stylish Star Allu Arjun @ ChaySam Weddin...

In [8]:
df['trending_date'] = pd.to_datetime(df['trending_date'], format = '%y.%d.%m')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37351 entries, 0 to 37350
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                37351 non-null  object
 1   trending_date           37351 non-null  datetime64[ns]
 2   title                   37351 non-null  object
 3   channel_title           37351 non-null  object
 4   category_id             37351 non-null  int64
 5   publish_time            37351 non-null  object
 6   tags                    37351 non-null  object
 7   views                   37351 non-null  int64
 8   likes                   37351 non-null  int64
 9   dislikes                37351 non-null  int64
 10  comment_count           37351 non-null  int64
 11  thumbnail_link          37351 non-null  object
 12  comments_disabled       37351 non-null  bool
 13  ratings_disabled        37351 non-null  bool
 14  video_error_or_removed  37351 non-null  bool
 15  description             36790 non-null  object
dtypes: bool(3), datetime64[ns](1), int64(5), object(7)
memory usage: 3.8+ MB

In [11]:
df['publish_time'] = pd.to_datetime(df['publish_time'])

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37351 entries, 0 to 37350
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                37351 non-null  object
 1   trending_date           37351 non-null  datetime64[ns]
 2   title                   37351 non-null  object
 3   channel_title           37351 non-null  object
 4   category_id             37351 non-null  int64
 5   publish_time            37351 non-null  datetime64[ns, UTC]
 6   tags                    37351 non-null  object
 7   views                   37351 non-null  int64
 8   likes                   37351 non-null  int64
 9   dislikes                37351 non-null  int64
 10  comment_count           37351 non-null  int64
 11  thumbnail_link          37351 non-null  object
 12  comments_disabled       37351 non-null  bool
 13  ratings_disabled        37351 non-null  bool
 14  video_error_or_removed  37351 non-null  bool
 15  description             36790 non-null  object
dtypes: bool(3), datetime64[ns, UTC](1), datetime64[ns](1), int64(5), object(6)
memory usage: 3.8+ MB

In [13]:
df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,kzwfHumJyYc,2017-11-14,Sharry Mann: Cute Munda ( Song Teaser) | Parmi...,Lokdhun Punjabi,1,2017-11-12 12:20:39+00:00,"sharry mann|""sharry mann new song""|""sharry man...",1096327,33966,798,882,https://i.ytimg.com/vi/kzwfHumJyYc/default.jpg,False,False,False,Presenting Sharry Mann latest Punjabi Song Cu...
1,10L1hZ9qa58,2017-11-14,Stylish Star Allu Arjun @ ChaySam Wedding Rece...,TFPC,24,2017-11-12 15:48:08+00:00,Stylish Star Allu Arjun @ ChaySam Wedding Rece...,473988,2011,243,149,https://i.ytimg.com/vi/10L1hZ9qa58/default.jpg,False,False,False,Watch Stylish Star Allu Arjun @ ChaySam Weddin...
2,N1vE8iiEg64,2017-11-14,Eruma Saani | Tamil vs English,Eruma Saani,23,2017-11-12 07:08:48+00:00,"Eruma Saani|""Tamil Comedy Videos""|""Films""|""Mov...",1242680,70353,1624,2684,https://i.ytimg.com/vi/N1vE8iiEg64/default.jpg,False,False,False,This video showcases the difference between pe...
3,kJzGH0PVQHQ,2017-11-14,why Samantha became EMOTIONAL @ Samantha naga ...,Filmylooks,24,2017-11-13 01:14:16+00:00,"Filmylooks|""latest news""|""telugu movies""|""telu...",464015,492,293,66,https://i.ytimg.com/vi/kJzGH0PVQHQ/default.jpg,False,False,False,why Samantha became EMOTIONAL @ Samantha naga ...
4,il_pSa5l98w,2017-11-14,"MCA (Middle Class Abbayi) TEASER - Nani,Sai Pa...",Dil Raju,24,2017-11-10 04:29:50+00:00,"Nenu Local|""Nenu Local Telugu Movie""|""Nani""|""S...",6106669,98612,4185,4763,https://i.ytimg.com/vi/il_pSa5l98w/default.jpg,False,False,False,Watch MCA- Middle Class Abbayi First Look Teas...

**Extract the date component from the publish_time column and save it in a variable publish_date**

If we have a Pandas DateTime columns and if we wanted to extract any compoenent of date or time, then we may use .dt regressor

In [27]:
df['publish_date'] = pd.to_datetime(df['publish_time'].dt.date)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37351 entries, 0 to 37350
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                37351 non-null  object
 1   trending_date           37351 non-null  datetime64[ns]
 2   title                   37351 non-null  object
 3   channel_title           37351 non-null  object
 4   category_id             37351 non-null  int64
 5   publish_time            37351 non-null  datetime64[ns, UTC]
 6   tags                    37351 non-null  object
 7   views                   37351 non-null  int64
 8   likes                   37351 non-null  int64
 9   dislikes                37351 non-null  int64
 10  comment_count           37351 non-null  int64
 11  thumbnail_link          37351 non-null  object
 12  comments_disabled       37351 non-null  bool
 13  ratings_disabled        37351 non-null  bool
 14  video_error_or_removed  37351 non-null  bool
 15  description             36790 non-null  object
 16  piblish_date            37351 non-null  datetime64[ns]
 17  publish_date            37351 non-null  datetime64[ns]
dtypes: bool(3), datetime64[ns, UTC](1), datetime64[ns](3), int64(5), object(6)
memory usage: 4.4+ MB

**Is this data having any duplicted rows?**

In [29]:
df.shape

(37351, 18)

In [31]:
df.duplicated().sum()

4263

In [32]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
37346     True
37347     True
37348     True
37349     True
37350     True
Length: 37351, dtype: bool

In [33]:
df.iloc[[37346],:]

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,piblish_date,publish_date
37346,iNHecA3PJCo,2018-06-14,फेकू आशिक़ - राजस्थान की सबसे शानदार कॉमेडी | ...,RDC Rajasthani,23,2018-06-13 08:01:11+00:00,"twinkle vaishnav comedy|""twinkle vaishnav""|""tw...",214378,3291,404,196,https://i.ytimg.com/vi/iNHecA3PJCo/default.jpg,False,False,False,PRG Music & RDC Rajasthani presents फेकू आशिक़...,2018-06-13,2018-06-13

In [34]:
df[df['video_id']=='iNHecA3PJCo']

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,piblish_date,publish_date
37224,iNHecA3PJCo,2018-06-14,फेकू आशिक़ - राजस्थान की सबसे शानदार कॉमेडी | ...,RDC Rajasthani,23,2018-06-13 08:01:11+00:00,"twinkle vaishnav comedy|""twinkle vaishnav""|""tw...",214378,3291,404,196,https://i.ytimg.com/vi/iNHecA3PJCo/default.jpg,False,False,False,PRG Music & RDC Rajasthani presents फेकू आशिक़...,2018-06-13,2018-06-13
37346,iNHecA3PJCo,2018-06-14,फेकू आशिक़ - राजस्थान की सबसे शानदार कॉमेडी | ...,RDC Rajasthani,23,2018-06-13 08:01:11+00:00,"twinkle vaishnav comedy|""twinkle vaishnav""|""tw...",214378,3291,404,196,https://i.ytimg.com/vi/iNHecA3PJCo/default.jpg,False,False,False,PRG Music & RDC Rajasthani presents फेकू आशिक़...,2018-06-13,2018-06-13

**Drop all the duplicate rows from the data**

In [35]:
help(df.drop_duplicates)

Help on method drop_duplicates in module pandas.core.frame:

drop_duplicates(subset: Union[Hashable, Sequence[Hashable], NoneType] = None, keep: Union[str, bool] = 'first', inplace: bool = False, ignore_index: bool = False) -> Union[ForwardRef('DataFrame'), NoneType] method of pandas.core.frame.DataFrame instance
    Return DataFrame with duplicate rows removed.

    Considering certain columns is optional. Indexes, including time indexes
    are ignored.

    Parameters
    ----------
    subset : column label or sequence of labels, optional
        Only consider certain columns for identifying duplicates, by
        default use all of the columns.
    keep : {'first', 'last', False}, default 'first'
        Determines which duplicates (if any) to keep.
        - ``first`` : Drop duplicates except for the first occurrence.
        - ``last`` : Drop duplicates except for the last occurrence.
        - False : Drop all duplicates.
    inplace : bool, default False
        Whether to drop duplicates in place or to return a copy.
    ignore_index : bool, default False
        If True, the resulting axis will be labeled 0, 1, …, n - 1.

        .. versionadded:: 1.0.0

    Returns
    -------
    DataFrame
        DataFrame with duplicates removed or None if ``inplace=True``.

In [36]:
df = df.drop_duplicates()

In [37]:
df.shape

(33088, 18)

## Data Analysis

**Find the video_id which is having the maximum number of views in the data. Sort the data in descedning order(views) and look into the top row**

In [39]:
df.sort_values(by = 'views', ascending = False)

          video_id publish_date trending_date      views
5407   FlsCjmMhFmw   2017-12-06    2017-12-12  125432237
5118   FlsCjmMhFmw   2017-12-06    2017-12-11  113876217
4935   FlsCjmMhFmw   2017-12-06    2017-12-10  100911567
4476   6ZfuNTqbHE8   2017-11-29    2017-12-07   89930713
4235   6ZfuNTqbHE8   2017-11-29    2017-12-06   87449453
...            ...          ...           ...        ...
5289   p3Wn9FuI2zo   2017-12-10    2017-12-11       5098
18319       #NAME?   2018-02-22    2018-02-22       4641
20322  18OSLOq-bFA   2018-03-06    2018-03-06       4359
29316  iW5ZRboFCMU   2018-05-01    2018-05-01       4287
29315  wntggWeDxjI   2018-04-30    2018-05-01       4024

[33088 rows x 4 columns]

In [41]:
df[df['video_id'] == 'FlsCjmMhFmw'][['video_id', 'publish_date', 'trending_date', 'views']]

         video_id publish_date trending_date      views
4458  FlsCjmMhFmw   2017-12-06    2017-12-07   24784863
4567  FlsCjmMhFmw   2017-12-06    2017-12-08   52611730
4742  FlsCjmMhFmw   2017-12-06    2017-12-09   75969469
4935  FlsCjmMhFmw   2017-12-06    2017-12-10  100911567
5118  FlsCjmMhFmw   2017-12-06    2017-12-11  113876217
5407  FlsCjmMhFmw   2017-12-06    2017-12-12  125432237

**The data is according to the trending_dates. The number of times, we have a particulr video_id in the data is the number of days the video was on the trending_list**


**The data has been captured in such a way that the last row for a particular video is having the latest information.**

### Same Day Trending Videos

The videos that were trending on the same day as it was published.


publish_date == trending_date

**How many such videos are there?**

In [43]:
day0 = df[df['trending_date'] == df['publish_date']]

In [44]:
day0.shape

(441, 18)

**Find the channel wise count of same day trending videos and identify the top-4 channels with the maximum number of same dat trendingvideos**

In [45]:
day0['channel_title'].value_counts()

Adda247 :Official Channel of BankersAdda & SSCAdda    48
WiFiStudy                                             28
Mahendra Guru : Online Videos For Govt. Exams         16
Study IQ education                                    12
T-Series Bhakti Sagar                                 11
                                                      ..
Clash of Clans                                         1
Sheorans                                               1
Ur IndianConsumer                                      1
Disney•Pixar                                           1
Veena's Curryworld                                     1
Name: channel_title, Length: 193, dtype: int64

- Education related channels
- They are really active
- Frequent live strems
- Frequent uploads

**Check for the channel wise sum of views and look into the top-20 channels**

In [48]:
day0.groupby("channel_title").agg({'views':'sum', 'video_id':'count'}).sort_values(by = 'views', ascending = False).head(20)

                                                       views  video_id
channel_title
T-Series                                            13205923         4
WWE                                                  5308127         6
Wrestling Phobia                                     3670140         2
Speed Records                                        2221143         4
Disney•Pixar                                         1948452         1
Studio Saraswati Official                            1877699         8
Mythri Movie Makers                                  1738388         2
Lahari Music | T-Series                              1646824         1
Wrestling Time                                       1405443         6
Jimmy Kimmel Live                                    1401741         1
Google Developers                                    1375783         1
Zee News                                             1233669         2
5-Minute Crafts                                      1209452         1
The Daily Show with Trevor Noah                      1164229         2
T-Series Apna Punjab                                 1052263         1
Aditya Music                                         1031980         2
Colors TV                                            1010352         3
Adda247 :Official Channel of BankersAdda & SSCAdda    918727        48
Vijay Television                                      902548         3
WiFiStudy                                             893434        28

## Analyze T-Series

In [49]:
df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,piblish_date,publish_date
0,kzwfHumJyYc,2017-11-14,Sharry Mann: Cute Munda ( Song Teaser) | Parmi...,Lokdhun Punjabi,1,2017-11-12 12:20:39+00:00,"sharry mann|""sharry mann new song""|""sharry man...",1096327,33966,798,882,https://i.ytimg.com/vi/kzwfHumJyYc/default.jpg,False,False,False,Presenting Sharry Mann latest Punjabi Song Cu...,2017-11-12,2017-11-12
1,10L1hZ9qa58,2017-11-14,Stylish Star Allu Arjun @ ChaySam Wedding Rece...,TFPC,24,2017-11-12 15:48:08+00:00,Stylish Star Allu Arjun @ ChaySam Wedding Rece...,473988,2011,243,149,https://i.ytimg.com/vi/10L1hZ9qa58/default.jpg,False,False,False,Watch Stylish Star Allu Arjun @ ChaySam Weddin...,2017-11-12,2017-11-12
2,N1vE8iiEg64,2017-11-14,Eruma Saani | Tamil vs English,Eruma Saani,23,2017-11-12 07:08:48+00:00,"Eruma Saani|""Tamil Comedy Videos""|""Films""|""Mov...",1242680,70353,1624,2684,https://i.ytimg.com/vi/N1vE8iiEg64/default.jpg,False,False,False,This video showcases the difference between pe...,2017-11-12,2017-11-12
3,kJzGH0PVQHQ,2017-11-14,why Samantha became EMOTIONAL @ Samantha naga ...,Filmylooks,24,2017-11-13 01:14:16+00:00,"Filmylooks|""latest news""|""telugu movies""|""telu...",464015,492,293,66,https://i.ytimg.com/vi/kJzGH0PVQHQ/default.jpg,False,False,False,why Samantha became EMOTIONAL @ Samantha naga ...,2017-11-13,2017-11-13
4,il_pSa5l98w,2017-11-14,"MCA (Middle Class Abbayi) TEASER - Nani,Sai Pa...",Dil Raju,24,2017-11-10 04:29:50+00:00,"Nenu Local|""Nenu Local Telugu Movie""|""Nani""|""S...",6106669,98612,4185,4763,https://i.ytimg.com/vi/il_pSa5l98w/default.jpg,False,False,False,Watch MCA- Middle Class Abbayi First Look Teas...,2017-11-10,2017-11-10

**Drop duplicated rows according to video_id and retain the last row**

In [50]:
df.shape

(33088, 18)

In [51]:
df = df.drop_duplicates(subset = 'video_id', keep = 'last')

In [52]:
df.shape

(16307, 18)

**Filter the data for channel_title as 'T-Series'.**

In [54]:
tseries = df[df['channel_title'] =='T-Series']

In [55]:
tseries.shape

(62, 18)

- Create a new column 'month' by extracting month for publish_date columns
- Find the count of videos published per month by T-Series
- Month in which T-Series posted max number of videos

In [56]:
tseries['month'] = tseries['publish_date'].dt.month

C:\Users\SUMITH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [57]:
tseries['month'].value_counts()

2     11
3     10
12     9
1      9
5      8
4      6
11     5
6      4
Name: month, dtype: int64

- No videos were posted for month: 7,8,9,10:
    - Exam Month
- Feb: Valentine Month
- March: Holi Month
- Dec, Jan: Wedding Season

In [61]:
tseries[tseries['month'] == 1]

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,piblish_date,publish_date,month
10062,ZgTKmRPWMq4,2018-01-06,"Subah Subah (Video) | Arijit Singh, Prakriti K...",T-Series,10,2018-01-03 06:31:20+00:00,"subah subah song|""subah subah video""|""sonu ke ...",12360534,204051,6549,6730,https://i.ytimg.com/vi/ZgTKmRPWMq4/default.jpg,False,False,False,Presenting the peppy travel song Subah Subah f...,2018-01-03,2018-01-03,1
10256,TZ4lJABVr3Q,2018-01-07,Car Nachdi/Hornn Blow |2 Days To Go |T-Series ...,T-Series,10,2018-01-06 08:43:38+00:00,"latest hindi songs|""bollywood""|""songs""|""2017""",159562,2298,189,198,https://i.ytimg.com/vi/TZ4lJABVr3Q/default.jpg,False,False,False,Releasing In 2 days► Get ready to party with t...,2018-01-06,2018-01-06,1
10425,7irWtX1TSRY,2018-01-08,Car Nachdi/Hornn Blow | 1Day To Go | T-Series ...,T-Series,10,2018-01-07 08:30:00+00:00,"Car Nachdi|""Horn Blow""|""Horn Blow mashup""|""Car...",231224,3843,338,258,https://i.ytimg.com/vi/7irWtX1TSRY/default.jpg,False,False,False,Releasing In 1 day► Get ready to party with th...,2018-01-07,2018-01-07,1
10593,KjP7O26saoA,2018-01-09,Car Nachdi/Hornn Blow (Video) | T-Series Mixta...,T-Series,10,2018-01-08 08:34:09+00:00,"Car Nachdi|""Horn Blow""|""Horn Blow mashup""|""Car...",842192,32440,2286,2379,https://i.ytimg.com/vi/KjP7O26saoA/default.jpg,False,False,False,Gulshan Kumar Presents Bhushan Kumar's T-Serie...,2018-01-08,2018-01-08,1
11445,kckDWrICC4s,2018-01-15,"NAZAR LAG JAYEGI Video Song | Millind Gaba, Ka...",T-Series,10,2018-01-10 05:13:33+00:00,"nazar lag jayegi|""nazar lag jayegi song""|""naza...",12821078,250671,19646,11141,https://i.ytimg.com/vi/kckDWrICC4s/default.jpg,False,False,False,Akeli Na Bazar Jaya karo Nazar Lag Jayegi | Mi...,2018-01-10,2018-01-10,1
11993,mPCL6yY2d7U,2018-01-18,"Official Teaser: Harjai Song | Maniesh Paul, I...",T-Series,10,2018-01-15 09:31:23+00:00,"Harjai Song|""Harjai Song teaser""|""Harjai Song ...",438121,5511,1171,464,https://i.ytimg.com/vi/mPCL6yY2d7U/default.jpg,False,False,False,T-Series Presents official teaser of the lates...,2018-01-15,2018-01-15,1
13170,xvYBg6MWPbM,2018-01-24,Chhote Chhote Peg (Video) | Yo Yo Honey Singh ...,T-Series,10,2018-01-18 09:38:29+00:00,"Chhote Chhote Peg|""Chhote Chhote Peg video son...",18092075,371541,24579,30691,https://i.ytimg.com/vi/xvYBg6MWPbM/default.jpg,False,False,False,Presenting the latest party anthem for 2018 Ch...,2018-01-18,2018-01-18,1
14000,0B7athiVJBA,2018-01-29,Official Trailer: Hate Story IV | Urvashi Raut...,T-Series,10,2018-01-27 05:30:00+00:00,"official trailer 2018|""official trailer""|""offi...",16482187,165251,19034,12967,https://i.ytimg.com/vi/0B7athiVJBA/default.jpg,False,False,False,T-Series Films presents the official movie tra...,2018-01-27,2018-01-27,1
14810,v7K4vGYL9zI,2018-02-02,Padmaavat: Khalibali - Ranveer Singh | Deepika...,T-Series,10,2018-01-29 10:03:00+00:00,"Padmaavat|""Padmaavat songs""|""Padmaavat audio s...",15896753,273576,16778,20141,https://i.ytimg.com/vi/v7K4vGYL9zI/default.jpg,False,False,False,Presenting the video song Khalibali from the ...,2018-01-29,2018-01-29,1